# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

commands:

  10-pear:
    command: "pear config-set auto_discover 1"

  #phpunit-install_old
  #20-phpunit-install:
  #  command: "pear install pear.phpunit.de/PHPUnit"
  #  ignoreErrors: true

  20-phpunit-install:
    command: "pear channel-discover pear.phpunit.de"
    ignoreErrors: true

  21-phpunit-install:
    command: "pear channel-discover components.ez.no"
    ignoreErrors: true

  22-phpunit-install:
    command: "pear channel-discover pear.symfony-project.com"
    ignoreErrors: true

  23-phpunit-install:
    command: "pear install phpunit/PHPUnit-3.6.4"
    ignoreErrors: true


files:

  "/etc/php.d/project.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      include_path = ".:/usr/share/pear:/usr/share/php:/usr/bin/phpunit:/usr/bin/phpunit.phar"
